.sider-rtl{
  overflow: auto;
  height: 100vh;
  background: white;
}

.wrap-layout{
  margin: 1.5rem 1rem 0;
  overflow: initial;
}

.wrap-layout__content{
  padding: 24;
  text-align: center;
}

.sider-logo{
  margin: 1.375rem;
}
