.main-card-currencies {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  width: 60%;
  height: 30%;
  position: absolute;
  right: 15%;
  left: 18%;
  top: 10%;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem #e4e4e4;
}
.top-curricle {
  width: 2rem;
  height: 2rem;
  background-color: #1A6FC0;
  position: absolute;
  top: -1rem;
  right: 49%;
  border-radius: 50%;
}
.bottom-curricle {
  background-image: url(../../../assets/icons/icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -1rem;
  right: 49%;
  border-radius: 50%;
}


