.main-card-currencies {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  width: 60%;
  height: 30%;
  position: absolute;
  right: 15%;
  left: 18%;
  top: 10%;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.3rem 0.6rem 0.1rem #9c9c9c6b;
}
.top-curricle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #0B65BC;
  position: absolute;
  top: -1rem;
  right: 47%;
  border-radius: 50%;
}
.center-curricle {
  width: 3rem;
  height: 3rem;
  background-color: rgb(55,123,62);
  position: absolute;
  top: 28.6%;
  right: 46.6%;
  border-radius: 50%;
  text-align: center;
  background-image: url(../../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}
.bottom-curricle {
  background-image: url(../../../assets/icons/cardIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  padding-left: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);

  position: absolute;
  bottom: -1rem;
  right: 47%;
  border-radius: 50%;
  box-shadow: 0 0.5rem 0.6rem 0.01rem #9c9c9c6b;
}


