body {
  font-family: Almarai;
}
.home_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.backGround {
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  margin-top: 3rem;
  background-image: url('../../../../assets/images/background.svg');
}
.cardStyle {
  position: absolute;
  top: 37%;
  left: 10%;
  width: 80%;
  height: 17rem;
}
.first-section {
  margin-right: 5%;
  width: 21rem;
}
.exchange_section {
  display: flex;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 900;
}
.second-section {
  margin-right: 10%;
  margin-left: 10%;
  width: 21rem;
}
.ant-input[disabled] {
  color: rgb(66, 38, 38) !important;
}
.currency_prices {
  align-self: center;
}
.container_card_Prices {
  margin: 15% 0 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 25rem;
  border: 1px solid rgba(208, 234, 255, 0.705);
  border-radius: 0.8rem;
}

.title_Exchange {
  font-size: 1.3rem;
  font-weight: 900;
}
.Text_buy_sell {
  font-weight: 900;
  font-size: 1.5rem;
}
.images_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10%;
}
.image_title_section {
  padding-left: 1rem;
}
.sections_logo {
  width: 3rem;
  height: 3rem;
}
.title_section {
  width: 64.5%;
  margin-top: 0.9rem;
}

.name_prices {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  height: 16rem;
  width: 20%;
}
.prices_logo {
  width: 5.5rem;
  height: 5.5rem;
  padding-bottom: 2rem;
}
.extra_sell {
  padding-right: 1rem;
}

.prices_title {
  font-size: 1rem;
  font-weight: 600;
}
.prices_title--green {
  color: green;
}
.prices_title--red {
  color: #ff0000;
}
.prices_title--blue {
  color: blue;
}
.prices_title--orange {
color: rgb(245, 171, 33);
margin:0 0.5rem;
font-weight: 900;
font-size: 1rem;
}
.exchange_button {
  margin: 1rem 0.5rem 0.2rem 0;
  font-size: large;
  text-align: center !important;
  padding-bottom: 2rem !important;
}

.extra_prices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8rem;
}
.Home__alert {
  position: fixed;
  width: 50%;
  z-index: 3;
  left: 25%;
  top: 2%;
  font-size: 1rem;
  text-align: center;
}
.Home_typography {
  position: absolute;
  right: 5%;
  top: 15%;
  color: white !important;
}
.extra_typo {
  top: 17%;
  right: 9%;
}

@media screen and (max-width: 1125px) {
	.first-section {
    margin-right: 5%;
    width: 19rem;
  }
  .second-section {
    margin-right: 10%;
    margin-left: 10%;
    width: 19rem;
  }
}
@media screen and (max-width: 1093px) {
	.first-section {
    margin-right: 5%;
    width: 16rem;
  }
  .second-section {
    margin-right: 10%;
    margin-left: 10%;
    width: 16rem;
  }
  .exchange_section {
    font-size: 0.7rem;
  }
  .prices_title--orange {
    font-size: 0.7rem;
    }
}
