.header-component {
  background-color: #126fc9;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.flex-row {
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center;
}

.header-btn {
  margin-right: 1rem;
}

.header-left {
  margin-left: 3rem;
}

.header-right {
  margin-right: 3rem;
}

.header__img {
  max-width: 100%;
  height: 2rem;
}

@media only screen and (max-width: 600px) {
  .header-component {
    height: 2.5rem;
  }

  .header-right {
    margin-right: 0.5rem;
  }

  .header-left {
    margin-left: 0.5rem;
  }

  .header-btn {
    margin-right: 0.2rem;
  }
}
