.dashboard {
  padding-top: 3rem;
  background-color: #E5E5E5;
  min-height: 100vh;
}

hr {
  color: #F0F0F0
}

.dashboard__page {
  font-family: "Almarai";
  width: 80%;
  margin: 0 auto;
}

.dashboard__head__card {
  display: flex;
}

.dashboard__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard__charts {
  margin-left: 1rem;
}

.dashboard__elements {
  margin-top: -9rem;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.dashboard__clients {
  margin-top: 1rem;
}

.dashboard__line {
  border: 1px solid #F0F0F0;
}

.update__content {
  margin-top: -2rem;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.update__text {
  font-size: 1rem !important;
  line-height: 2rem;
  margin-top: 1rem;
  font-weight: bold;
  color: #535050;
}

.update__input {
  width: 5rem;
}

.update__text_rate {
  border: 1px solid silver
}

.price_alert {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15rem;
  margin: 0 0 5rem 1rem;
}

.extra {
margin: -.5rem 2rem 2rem 0;
border-bottom: 1px dotted rgb(207, 207, 188);
}

.less {
  padding-left: 18%;
}

.arrow-circle {
  width: 2rem;
  height: 2rem;
  background-color: rgb(55, 123, 62);
  border-radius: 50%;
  text-align: center;
  background-image: url(../../../../assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem;
}
