.dashboard {
  padding-top: 3rem;
  background-color: #E5E5E5;
  min-height: 100vh;
}

hr {
  color: #F0F0F0
}

.dashboard__page {
  font-family: "Almarai";
  width: 80%;
  margin: 0 auto;
}

.dashboard__head__card {
  display: flex;
}

.dashboard__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard__charts {
  margin-left: 1rem;
}

.dashboard__elements {
  margin-top: -9rem;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.dashboard__clients {
  margin-top: 1rem;
}

.dashboard__line {
  border: 1px solid #F0F0F0;
}
