.setting{
  width: 100%;
  padding: 1rem;
  max-width: 27rem;
}

.avatar__prev{
  margin-top: 3rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  pointer-events: none;
}

.setting-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  margin-bottom: 1.5rem;
}

.setting-item{
  margin: 1rem;
}