.selectCurrency {
  margin: .5rem 0.2rem;
  background: none;
  width: 12rem;
  height: 2rem;
  font-weight: 900;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: space-evenly;
}
.selectCurrency option{
  background-color: rgb(255, 255, 255);
  border: 0 !important;
  outline: 0 !important;
  border-radius: 50%;
}
.selectCurrency:hover::after {
  color: #f39c12;
}
/* .selectOption{
  display: inline block;
  margin: 0.3rem !important;
  background-color: none;
  border: none !important;
  outline: none !important;
} */