.selectCurrency {
  margin: .5rem 0.2rem;
  background: none;
  width: 12rem;
  height: 2rem;
  font-weight: 900;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: space-evenly;
}
.selectCurrency option{
  background-color: rgb(255, 255, 255);
  border: 0 !important;
  outline: 0 !important;
  border-radius: 50%;
}
