.chart__first {
  min-width: 43rem;
  min-height: 20rem;
  margin-bottom: 1rem;
}

.chart__second {
  margin-top: 1rem;
  min-width: 43rem;
  min-height: 20rem;
  margin-bottom: 1rem;
}

.select_chart {
  position: absolute;
  top:-15%;
  right: 0%;
  width: 10rem;
  height: 3rem;
}