.loading-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.ant-spin-text {
  margin-top: 1rem;
  font-weight: 900;
}
